*{
    margin: 0px;
    padding: 0px;
}

/* Body stuff */

body {
    font-family: 'Mulish', sans-serif;
    color: white;
    background-color: #000;
}
html{
    scroll-behavior: smooth;
  }

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.between {
    padding: 0;
    min-height: 20vh;
}

section.between-white {
    padding: 0;
    min-height: 20vh;
    background-color: #EEE;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	transition: all 300ms ease-in-out;
}

a {
    font-size: 1rem;
}
#main {
    padding: 15vh 20vw;
    padding-bottom: 0;
    min-height: 90vh;
}

#sound-design {
    background-color: #EEE;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#about {
    background-color: #000;
    min-height: 110vh;
    padding-top: 10vh;
    padding-bottom: 0;

}

#about h1 {
    margin: 0 auto;
}

#about img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact {
    background-color: #EEE;
    color: #000;
    height: 80vh;
    padding: 20vh 20vw;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo {
    color: #EEE;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.logo a {
    text-decoration: none;
    color: #EEE;
    transition: 0.5s;
}

.logo a:hover {
    font-size: 1.15rem;
    transform: translateY(-5px)
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #EEE;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.5s;
}

.nav-links a:hover {
    font-size: 1.15rem;
    transform: translateY(-5px)
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #EEE;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1090px) {
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    section {
        padding-bottom: 0;
        padding-top: 10vh;
        padding-left: 1.5vh;
        padding-right: 4vh;
    }

    #main {
        padding-top: 15vh;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #000;
        border-left-width: .2em;
        border-left-style: solid;
        /* border-top-color: #EEE;
        border-top-width: .2em;
        border-top-style: solid;
        border-top-color: #EEE; */
        border-bottom-width: .2em;
        border-bottom-style: solid;
        border-bottom-color: #EEE;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transeform 0.5 ease-in;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.reel {
    background: #000
}

.reel-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .reel-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: .3em;
    border-color: #EEE;
  }


.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.video-grid iframe {
    width: 2fr;
    height: 2fr;
    cursor: pointer;
    padding: .3em;
    border-style: solid;
    border-width: .3em;
    border-color: #000;
}

iframe {
    max-width: 100%;
}

@media screen and (max-width:1090px) {
    .video-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.about-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    'one'
    'two'
    'three';
    
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}


.responsive-img {
    width: 100%;
    max-width:20vw;
    height: auto;
}

/* scroll stuff */

.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

.scroll-down .nav-links {
    transform: translate3d(0, 0, -100%);
}
.scroll-up .nav-links a:hover {
    color: #EEE;
}

.scroll-up header {
    filter: drop-shadow(0 -10px 20px rgb(252, 161, 255));
    background: #ab91bc;
    color: #000;
}

.scroll-up nav a {
    color: #000
}

.scroll-up .logo {
    color: #000
}

@media screen and (max-width:768px) {
    .scroll-up header {
        filter: none;
    }
    
    .scroll-up .nav-links {
        background-color: #ab91bc;
        border: none;
        transform: translateX(100%);
        transition: transeform 0.2 ease-in;
    }
    .scroll-down .nav-links {
        border: none;
        transform: translateX(100%);
        transition: transeform 0.2 ease-in;
    }
}


/* svg stuff #1 */
.custom-shape-divider-top-1658965090 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1658965090 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 116px;
}

.custom-shape-divider-top-1658965090 .shape-fill {
    fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1658965090 svg {
        width: calc(172% + 1.3px);
        height: 116px;
    }
}




/* svg about me color #EEE */

.custom-shape-divider-top-1658964980 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1658964980 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 116px;
}

.custom-shape-divider-top-1658964980 .shape-fill {
    fill: #EEEEEE;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1658964980 svg {
        width: calc(172% + 1.3px);
        height: 116px;
    }
}