*{
    margin: 0px;
    padding: 0px;
}
/* @media screen and (min-resolution: 120dpi) { 
    body {zoom: 0.8;}
    } */
/* @media (-webkit-device-pixel-ratio: 1.25) {
    * {
      zoom: 0.8;
    }
  } */

/* Font stuff  */


@font-face {
    font-family: customFont;
    src: url(/Fonts/Bebas_Neue_Pro_Middle_Middle/Bebas\ Neue\ Pro\ Middle.ttf);
}

@font-face {
    font-family: jinxFont;
    src: url(/Fonts/Jinxfont2.0.otf);
}



:root {

    /* colors */
    --black: #000;
    --white: #EEE;
    --border-color-1: #EEE;
    --border-color-2: #EEE;
    --main-color: #ab91bc;
    --navbar: #ab91bc;
    --vid-border-color-1: #000;
    --vid-border-color-2: #000;
    --dropshadow-color-1: #EEE;
    --dropshadow-color-2: #EEE;

    /* fonts */
    --main-font: customFont;
    --name-font: customFont;
}

[data-theme="jinx"] {
    --name-font: jinxFont;
    --navbar: #00C5E2;
    --main-color: #00C5E2;
    --border-color-1: #00C5E2;
    --border-color-2: #FF529C;
    --vid-border-color-1: #00C5E2;
    --vid-border-color-2: #FF529C;
    --dropshadow-color-1: #02a2ba;
    --dropshadow-color-2: #ff5275;
}

/* Body stuff */

body {
    font-family: var(--main-font);
    color: var(--white);
    background-color: var(--black);
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.between {
    padding: 0;
    min-height: 20vh;
}

section.between-white {
    padding: 0;
    min-height: 20vh;
    background-color: var(--white);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	transition: all 300ms ease-in-out;
}

a {
    font-size: 1rem;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}


#main {
    padding: 10vh 18vw;
    padding-bottom: 5vh;
}

.main-top {
    position: relative;
}

.jinxmodetext {
    display: none;
    position: absolute;
    top: 6vh;
    left: 16vw;
    height: auto;
    width: 10%;
    z-index: 999;
    animation: flicker-svg 1.5s infinite alternate;
}

@keyframes flicker-svg {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        filter:
        drop-shadow(0 0 1px rgba(255, 11, 117, 0.2))
        drop-shadow(0 0 5px rgba(255, 11, 117, 0.7))
        drop-shadow(0 0 3px rgba(255, 11, 117, 0.2))
        drop-shadow(0 0 10px rgba(255, 11, 117, 0.9))
        drop-shadow(0 0 4px rgba(255, 11, 117, 0.6))
        ;        
    }
    
    20%, 24%, 55% {
        filter: drop-shadow(0 0 0);
    }    
}

/* .pink-cloud-doodle {
    display: none;
    position: absolute;
    top: 15vh;
    left: 2vw;
    height: auto;
    width: 20%;
    transform: rotate(-10deg);
    z-index: 9999;
} */

.pink-x-circle-doodle {
    display: none;
    position: absolute;
    top: 80vh;
    left: 10vw;
    transform: rotate(0deg);
    height: auto;
    width: 10%;
}

.haha-1-doodles {
    display: none;
    position: absolute;
    top: 35vh;
    left: 82vw;
    height: auto;
    width: 15%;
    z-index: 999;
  }

.blue-x-circle-doodle {
    display: none;
    position: absolute;
    top: 73vh;
    left: 86vw;
    transform: rotate(0deg);
    height: auto;
    width: 12%;
    z-index: 9998;
}

.pow-pow-doodle {
    display: none;
    position: absolute;
    top: 42vw;
    left: 70vw;
    height: auto;
    width: 15%;
    transform: rotate(-15deg);
    z-index: 9999;
    pointer-events: none; 
}

.pink-cloud-2-doodle {
    display: none;
    position: absolute;
    top: 4vh;
    left: 78vw;
    height: auto;
    width: 18%;
    transform: rotate(10deg);
}

.pink-bullets-crossed {
    display: none;
    position: absolute;
    top: 23vh;
    left: 6vw;
    height: auto;
    width: 15%;
    transform: rotate(-25deg);
}

.blue-cloud-3-doodle {
    display: none;
    position: absolute;
    top: 50vh;
    left: 2vw;
    height: auto;
    width: 18%;
    transform: rotate(0deg);
}

.main-name {
    font-size: 3.2vw;
    position: relative;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-family: var(--name-font), 'Barlow', sans-serif;
    color: var(--main-color);
    letter-spacing: .6rem;
}

@media screen and (max-width:770px) {
    .jinxmodetext {
        top: 6vh;
        left: 9vw;
        width: 14%;
    }
    .pow-pow-doodle {
        top: 52vh;
        left: 75vw;
        width: 25%;
    }
    .blue-cloud-3-doodle {
        top: 52vh;
        left: 8vw;
        width: 25%;
    }
    .blue-x-circle-doodle {
        top: 60vh;
        left: 77vw;
        width: 20%;
    }
}

@media screen and (max-width: 416px) {
    .jinxmodetext {
        top: 44vh;
        left: 32vw;
        width: 38%;
    }
    .pow-pow-doodle {
        top: 38vh;
    }
    .haha-1-doodles {
        top: 64vh;
        left: 76vw;
        width: 22%;
        z-index: 9998;
    }
    .blue-cloud-3-doodle {
        top: 40vh;
        left: 1vw;
        width: 36%;
    }
    .blue-x-circle-doodle {
        top: 47vh;
        left: 75vw;
        width: 24%;
    }
    .pink-cloud-2-doodle {
        top: 53vh;
        left: 23vw;
        width: 48%;
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 365px), screen and (max-height: 670px) {
    .haha-1-doodles {
        top: 68vh;
    }
    .blue-x-circle-doodle {
        top: 51vh;
        left: 76vw;
        width: 21%;
    }
    .pink-cloud-2-doodle {
        z-index: 9998;
        top: 60vh;
        left: 27vw;
        width: 42%;
    }
    .jinxmodetext {
        top: 50vh;
    }
    .blue-cloud-3-doodle {
        top: 46vh;
        width: 34%;
    }
    .pow-pow-doodle {
        top: 42vh;
    }
}

@media screen and (max-width: 365px), screen and (max-height: 640px) {
    .pow-pow-doodle {
        top: 37vh;
    }
}



#sound-design {
    background-color: var(--white);
    padding-bottom: 5vh;
}

.hourglass-doodles {
    display: none;
    position: absolute;
    top: -5vh;
    left: -8vw;
    transform: rotate(-40deg);
    height: auto;
    width: 40%;
}

.boom-doodle {
    display: none;
    position: absolute;
    top: 120vh;
    left: 28vw;
    height: auto;
    width: 20%;
    transform: rotate(10deg)
}

.hourglass-2-doodles {
    display: none;
    position: absolute;
    top: 50vh;
    left: 64vw;
    height: auto;
    width: 10%;
    transform: rotate(-10deg);
    z-index: 10;
}

.blue-cloud-doodle {
    display: none;
    position: absolute;
    top: 55vh;
    left: 85vw;
    height: auto;
    width: 15%;
    transform: rotate(20deg);
}

.blue-cloud-4-doodle {
    display: none;
    position: absolute;
    top: -4vh;
    left: 65vw;
    height: auto;
    width: 20%;
    transform: rotate(0deg);
}

.pink-cloud-3-doodle {
    display: none;
    position: absolute;
    top: 65vh;
    left: 35vw;
    height: auto;
    width: 12%;
    transform: rotate(0deg);
}

.bullets-doodle {
    display: none;
    position: absolute;
    top: 85vh;
    left: 85vw;
    height: auto;
    width: 15%;
    transform: scaleX(-1)
}

.bullets-2-doodle {
    display: none;
    position: absolute;
    top: 25vh;
    left: 82vw;
    height: auto;
    width: 15%;
    transform: rotate(-20deg)
}

.blue-2-cloud-doodle {
    display: none;
    position: absolute;
    top: 95vh;
    left: 70vw;
    height: auto;
    width: 35%;
    z-index: 9992;
    /* transform: rotate(20deg); */
}


.sound-design-title {
    font-size: 3.2vw;
    color: var(--black);
    margin-bottom: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .6rem;
    padding-bottom: 3rem;
    z-index: 9990;
}


@media screen and (max-width: 1355px) {
    .transparent-img {
        display: none;
    }
}



#about {
    background-color: var(--black);
    min-height: 90vh;
    padding-bottom: 5vh;
}

.about-title {
    font-size: 3.2vw;
    color: var(--main-color);
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .6rem;
    padding-top: 5vh;
    padding-bottom: 2vh;
    
}

.m-doodle {
    display: none;
    position: absolute;
    top: 5.5vh;
    left: 52.5vw;
    transform: rotate(10deg);
    height: auto;
    width: 4.1%;
    z-index: 999;
}

.vi-doodles {
    display: none;
    position: absolute;
    top: -10vh;
    left: 2vw;
    transform: rotate(20deg);
    height: auto;
    width: 14%;
}

.star-doodle {
    display: none;
    position: absolute;
    top: 75vh;
    left: 45vw;
    transform: scaleX(-1) rotate(30deg);
    height: auto;
    width: 10%;
}

.pink-x-doodles {
    display: none;
    position: absolute;
    top: 63vh;
    left: 71vw;
    transform: rotate(-10deg);
    height: auto;
    width: 18%;
}

.blue-x-2-doodles {
    display: none;
    position: absolute;
    top: 47vh;
    left: 3vw;
    transform: rotate(0deg) ;
    height: auto;
    width: 25%;
}

.about-content {
    display: flex;
    padding-bottom: 5vh;
    align-items: center;
}

.about-text {
    padding-right: 3vw;
    font-size: 1.3rem;
    max-width: 40%;
    z-index: 99;
    padding-left: 7vw;
}


.about-text h2 {
    padding-bottom: 2rem;
    line-height: 2.5rem;
}

.about-below-text {
    display: flex;
    padding-top: 1rem;
    font-size: 1.3rem;
    z-index: 100;
}

.about-list-playing {
    padding-right: 8rem;
}

.about-list-playing ul {
    font-size: 1.6rem;
    padding-top: .6rem;
    padding-left: 1.8rem;
}

.about-list-fav ul {
    font-size: 1.6rem;
    padding-top: .6rem;
    padding-left: 1.8rem;
}

@media screen and (max-width:1090px) {
    .about-list-playing {
        padding-left: 5vw;
        padding-right: 3rem;
    }
    .about-list-fav {
        padding-right: 0;
    }
}

/* about me pictures  */

.pictures-of-me {
    position: relative;
}

.tree-meg-img {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 800px;
    z-index: 4;
    padding: .3em;
    border-style: solid;
    border-width: .3em;
    border-color: var(--main-color); 
}

.goth-meg-img {
    display: none;
    width: 100%;
    height: auto;
    max-width: 360px;
    padding: .3em;
    transform: rotate(2deg);
    border-style: solid;
    border-width: .3em;
    border-color: var(--main-color); 
}

.transparent-img {
    display: none;
    opacity: 0;
    width: 100%;
    height: auto;
    max-width: 360px;
    padding: .6em;
}

.shark-jinx-img {
    display: none;
    position: absolute;
    top: -4vh;
    left: 20vw;
    width: 100%;
    height: auto;
    max-width: 360px;
    transform: rotate(-12deg);
    padding: .3em;
    border-style: solid;
    border-width: .3em;
    border-color: var(--main-color); 
    z-index: 99;
}

.me-doodle {
    display: none;
    position: absolute;
    top: -25vh;
    left: 31vw;
    height: 40vh;
    transform: rotate(7deg);
    z-index: 999;
}

@media screen and (max-width: 1610px) {
    .tree-meg-img {
        max-width: 700px;
        top: -4vh;
    }
    .me-doodle {
        top: -24vh;
        left: 33vw;
        height: 34vh;
    }
}

@media screen and (max-width: 1540px) {
    .me-doodle {
        top: -21vh;
        left: 34vw;
        height: 32vh;
    }
}

@media screen and (max-width: 1440px) {
    .tree-meg-img {
        max-width: 680px;
        top: -1vh;
    }
    .about-text {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:1400px){
    .goth-meg-img {
        max-width: 320px;
    }
    .transparent-img {
        max-width: 320px;
    }
    .shark-jinx-img {
        top: -2vh;
        left: 18vw;
        max-width: 320px;
    }

    .me-doodle {
    top: -15vh;
    left: 33vw;
    height: 25vh;
    transform: rotate(0deg);
    }
}

@media screen and (max-width: 1370px) {
    .tree-meg-img {
        max-width: 620px;
        top: -4vh;
    }
    .about-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1290px) {
    .tree-meg-img {
        max-width: 600px;
        top: -2vh;
    }
    .about-text h2 {
        line-height: 2rem;
    }
}

@media screen and (max-width: 1030px) {
    .tree-meg-img {
        max-width: 470px;
        top: -4vh;
    }
    .about-text {
        font-size: 16px;
    }
    .about-text h2 {
        line-height: 1.5rem;
    }
}

@media screen and (max-width:775px) {
    .about-title {
        font-size: 8vw;
    }
    .about-list-playing {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .about-list-fav {
        padding-left: 2rem;
    }
    .about-content {
        display: grid;
        width: 100%;
    }
    .pictures-of-me {
        grid-row-start: 1;
        display: inline-grid;
    }
    .tree-meg-img {
        max-width: 690px;
        top: 0;
        margin-left: 30px;
        margin-right: 30px;
    }
    .jinxMode .goth-meg-img {
        margin-left: 52px ;
    }
    .jinxMode .shark-jinx-img {
        margin-left: 196px;
    }
    .about-text {
        max-width: 90%;
        padding-right: 5vw;
        padding-left: 5vw;
        font-size: 1rem;
        padding-top: 3vh;
    }
    .about-text h2 {
        letter-spacing: .15rem;
        padding-bottom: .3rem;
        line-height: 1.8rem;
    }
    .about-below-text {
        font-size: 1rem;
    }
    .vi-doodles {
        width: 25%;
    }
    .me-doodle {
        left: 69vw;
    }
    .m-doodle {
        top: 4vh;
        left: 59vw;
        width: 9%;
    }
    .star-doodle {
        top: 102vh;
        width: 14%;
    }
    .pink-x-doodles {
        top: 90vh;
        left: 77vw;
        transform: rotate(25deg);
        width: 21%;
    }
    .blue-x-2-doodles {
        top: 100vh;
        left: 1vw;
        width: 25%;
        transform: rotate(32deg);
    }
}

@media screen and (max-width:416px) and (max-height: 898px) {
    .about-title {
        padding-bottom: 5vh;
    }
    .tree-meg-img {
        max-width: 380px;
        top: 0;
        margin-left: 8px;
        margin-right: 8px;
    }
    .jinxMode .goth-meg-img {
        margin-left: 20px;
        max-width: 190px;
        margin-bottom: 3vh;
        transform: rotate(6deg);
    }
    .jinxMode .shark-jinx-img {
        max-width: 190px;
        margin-left: 102px;
        transform: rotate(-9deg);
        top: 1vh;
    }
    .about-text {
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .about-text h2 {
        line-height: 1.5rem;
        letter-spacing: 0;
        padding-bottom: 20px;
    }
    .about-below-text {
        font-size: 16px;
    }
    .about-list-playing {
        padding-right: 0;
        padding-left: 0;
        max-width: 200px;
    }
    .about-list-fav {
        padding-left: 0;
        padding-right: 0;
        max-width: 200px;
    }
    .m-doodle {
        top: 3vh;
        left: 61vw;
    }
    .me-doodle {
        left: 70vw;
        top: -8vh;
        height: 16vh;
    }
    .vi-doodles {
        width: 41%;
        top: -8vh;
        left: -8vw;
    }
    .star-doodle {
        top: 97vh;
        left: 35vw;
        width: 24%;
    }
    .pink-x-doodles {
        top: 122vh;
        z-index: 9991;
    }
    .blue-x-2-doodles {
        top: 91vh;
        left: 66vw;
        width: 29%;
        transform: rotate(-25deg);
    }
    .hourglass-2-doodles {
        top: 34vh;
        left: 64vw;
        width: 41%;
    }
}

@media screen and (max-width:375px) and (max-height: 812px) {
    .tree-meg-img {
        max-width: 335px;
        margin-left: 6px;
        margin-right: 0;
    }
    .about-list-playing {
        max-width: 180px;
    }
    .about-list-fav {
        max-width: 180px;
    }
    .jinxMode .goth-meg-img {
        margin-left: 20px;
        max-width: 180px;
    }
    .jinxMode .shark-jinx-img {
        max-width: 180px;
        margin-left: 80px;
    }
    .star-doodle {
        top: 128vh;
        left: 31vw;
    }
    .pink-x-doodles {
        top: 138vh;
        left: 66vw;
        width: 31%;
    }
    .blue-x-2-doodles {
        top: 100vh;
        transform: rotate(-13deg);
    }
    .hourglass-2-doodles {
        top: 35vh;
    }
}

@media screen and (max-width:375px) and (max-height: 667px) {
    .hourglass-2-doodles {
        top: 40vh;
    }
    .me-doodle {
        top: -10vh;
        left: 69vw;
        height: 20vh;
    }
    .blue-x-2-doodles {
        top: 118vh;
    }
    .pink-x-doodles {
        top: 165vh;
        left: 69vw;
        width: 28%;
    }
    .star-doodle {
        top: 151vh;
    }
}

@media screen and (max-width:360px) and (max-height: 780px) {
    .about-below-text {
        padding-left: 3px;
    }
    .jinxMode .goth-meg-img {
        margin-left: 17px;
        max-width: 180px;
    }
    .jinxMode .shark-jinx-img {
        max-width: 180px;
        margin-left: 71px;
        transform: rotate(-9deg);
        top: 1vh;
    }
    .me-doodle {
        top: -9vh;
        height: 18vh;
        left: 68vw;
    }
    .m-doodle {
        top: 3vh;
        left: 60vw;
        width: 10%;
    }
    .vi-doodles {
        width: 37%;
        top: 5vh;
        left: 2vw;
    }
    .star-doodle {
        top: 131vh;
        left: 31vw;
        width: 28%;
    }
    .pink-x-doodles {
        top: 143vh;
        left: 69vw;
        transform: rotate(10deg);
        width: 29%;
        z-index: 9991;
    }
    .blue-x-2-doodles {
        top: 103vh;
        left: 61vw;
        width: 29%;
        transform: rotate(-8deg);
    }
    .hourglass-2-doodles {
        top: 36vh;
    }
}

@media screen and (max-width:360px) and (max-height: 760px) {
    .hourglass-2-doodles {
        top: 37vh;
    }
    .blue-x-2-doodles {
        top: 105vh;
    }
    .pink-x-doodles {
        top: 146vh;
    }
    .star-doodle {
        top: 134vh;
    }
}

@media screen and (max-width:360px) and (max-height: 640px) {
    .me-doodle {
        top: -11vh;
        left: 67vw;
        height: 22vh;
    }
    .hourglass-2-doodles {
        top: 41.5vh;
    }
    .star-doodle {
        top: 155vh;
    }
    .pink-x-doodles {
        top: 170vh;
    }
    .blue-x-2-doodles {
        top: 122vh;
    }
}

#contact {
    background-color: var(--white);
    color: var(--black);
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 15vh;
}

.blah-2-doodles {
    display: none;
    position: absolute;
    top: 25vh;
    left: 30vw;
    transform: rotate(15deg);
    height: auto;
    width: 10%;
}

.blue-x-doodles {
    display: none;
    position: absolute;
    top: 35vh;
    left: 85vw;
    height: auto;
    width: 10%;
    transform: rotate(0deg);
    z-index: 9999;
}

.contact-text {
    font-size: 3rem;
    padding-bottom: 1.5em;
    z-index: 99;
}
@media  screen and (max-width: 1610px) {
    .blah-2-doodles {
        left: 28vw;
    }
}

@media  screen and (max-width: 1290px) {
    .blah-2-doodles {
        left: 26vw;
    }
}

@media  screen and (max-width: 1030px) {
    .blah-2-doodles {
        left: 20vw;
        top: 26vh;
        width: 12%;
    }
}

@media screen and (max-width:768px) {
    .contact-text {
        font-size: 2rem;
    }
    .blah-2-doodles {
        left: 12vw;
        top: 21vh;
        width: 14%;
    }
}

@media screen and (max-width:416px) and (max-height: 898px) {
    .blah-2-doodles {
        left: 1vw;
        top: 9vh;
        width: 25%;
    }
    .blue-x-doodles {
        top: 43vh;
        left: 75vw;
        width: 22%;
    }
}

@media screen and (max-width:377px) and (max-height: 814px) {
    .blue-x-doodles {
        top: 45vh;
        left: 77vw;
    }
}

@media screen and (max-width:375px) and (max-height: 667px) {
    .blue-x-doodles {
        top: 49vh;
    }
}

/* navbar stuff  */

nav{
    display: flex;
    align-items: center;
    min-height: 8vh;
    padding-top: .5rem;
}

.logo {
    padding-left: 5vw;
    padding-right: 40vw;
}

.logo-img {
    max-width: 3.8rem;
    max-height: 3.8rem;
    transition: transform 0.8s ease-in-out;
}

.logo-img:hover {
    max-width: 4.5rem;
    max-height: 4.5rem;
    transform: rotate(-360deg)
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-size: 1.7rem;
    color: var(--white);
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.5s;
}

.nav-links a:hover {
    font-size: 2rem;
    transform: translateY(-5px);
    color: var(--main-color);
}

/** monkey btn checkbox stuff **/

.monkey-btn {
    height: 5rem;
    filter: grayscale(70%);
    transition: filter .5s ease-out;
}

.monkey-btn:hover {
    filter: grayscale(0%) drop-shadow(0 0 6px #FF4F9B );
}

.monkey-btn:active {
    transform: translateY(3px);
}


.theme-switch input {
    display:none;
}

/* burger bar stuff */

.burger {
    display: none;
}

.burger div {
    width: 35px;
    height: 3px;
    background-color: var(--white);
    margin: 6px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1300px) {
    .nav-links a {
        font-size: 1.4rem;
    }
    .logo-img {
        max-width: 3rem;
        max-height: 3rem;
    }
    .monkey-btn {
        height: 4rem;
    }
} 

@media screen and (max-width:1090px) {
    .nav-links{
        width: 50%;
    }
    .nav-links a {
        font-size: 1.3rem;
        letter-spacing: normal;
    }
    .logo {
        padding-right: 25vw;
    }
    .main-name {
        font-size: 5vw;
        letter-spacing: .3rem;
    }
}

@media screen and (max-width:768px) {
    section {
        padding-bottom: 0;
        padding-top: 0;
    }

    #main {
        padding: 10vh 3vw;
        padding-right: 4vw;
        padding-bottom: 2vh;
        min-height: 60vh;
    }
    .main-name {
        font-size: 8vw;
        letter-spacing: 0.1rem;
    }
    .sound-design-title {
        font-size: 8vw;
        letter-spacing: 0.1rem;
        padding-bottom: 0;
    }
    section.between {
        min-height: 15vh;
    }
    section.between-white {
        min-height: 13vh;
    }
    body {
        overflow-x: hidden;
    }
    #about {
        padding-top: 0;
    }
    .about-title{
        padding-top: 2vh;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 60vh;
        top: 8vh;
        background-color: var(--black);
        border-left-width: .2em;
        border-left-style: solid;
        border-bottom-width: .2em;
        border-bottom-style: solid;
        border-bottom-color: var(--white);

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        /* z-index: 99999; */
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 2.5vh;
        right: 2vw;
    }
    .monkey-btn {
        height: 6vh;
        position: absolute;
        top: 1vh;
        right: 15vw;
    }
    .logo-img {
        height: 4vh;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transeform 0.5 ease-in;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-6px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-6px,-6px);
}


.reel {
    background: #000;
    min-height: 90vh;
}

.reel-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    z-index: 9995;
  }


.reel-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: .3em solid transparent;
    border-image: linear-gradient(-45deg, var(--border-color-2) , var(--border-color-1));
    border-image-slice: 1;
  }

@media screen and (max-width:1090px) {
   
}


/* video css  */

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    gap: 3rem;
    z-index: 100;
    z-index: 9999;
}

.video-grid iframe {
    cursor: pointer;
    padding: .3em;
}

.vid-1 {
    padding: 1em;
    border-style: solid;
    border-width: .3em;
    border-color: var(--vid-border-color-2);
    filter: drop-shadow(0px 0px 30px var(--dropshadow-color-2));
    animation: pulse-2 2.2s infinite;
}

.vid-2 {
    padding: 1em;
    border-style: solid;
    border-width: .3em;
    border-color: var(--vid-border-color-1);
    /* filter: drop-shadow(0px 0px 30px var(--dropshadow-color-1 )); */
    animation: pulse-1 2.5s infinite;
}


@keyframes pulse-1 {
	0%,100% {
		filter: drop-shadow(0 0 1px var(--dropshadow-color-1));
	}
	50% {
		filter: drop-shadow(0 0 40px var(--dropshadow-color-1));
	}
}

@keyframes pulse-2 {
	0%,100% {
		filter: drop-shadow(0 0 1px var(--dropshadow-color-2));
	}
	50% {
		filter: drop-shadow(0 0 35px var(--dropshadow-color-2));
	}
}

.box-content {
    color: var(--black);
    /* max-width: 560px; */
}

.box-content h2 {
    font-size: 2.5rem;
    padding-bottom: .3rem;
    text-transform: uppercase;
}

.box-content h3 {
    font-size: 2rem;
    padding-bottom: .3rem;
    text-transform: uppercase;
}

.box-content p {
    font-size: 1.8rem;
    max-width: 500px;
}

@media screen and (max-width:1610px) {
    .vid-1, .vid-2 {
        width: 35vw;
        height: 300px;
    }
    .box-content h2 {
        font-size: 2rem;
    }
    .box-content h3 {
        font-size: 1.8rem;
    }
    .box-content p {
        font-size: 1.5rem;
    }

    .boom-doodle {
        left: 33vw;
        width: 17%;
        top: 121vh;
    }
    .blue-2-cloud-doodle {
        top: 100vh;
        width: 33%;
        left: 75vw;
    }
}

@media screen and (max-width:1470px) {
    .vid-1, .vid-2 {
        width: 40vw;
        height: 280px;
    }
    .box-content h2 {
        font-size: 1.9rem;
    }
    .box-content h3 {
        font-size: 1.7rem;
    }
    .box-content p {
        font-size: 1.5rem;
    }
    .boom-doodle {
        top: 113vh;
    }
    .bullets-2-doodle {
        left: 86vw;
    }
    .blue-cloud-doodle {
        top: 59vh;
    }
    .bullets-doodle {
        top: 87vh;
        left: 87vw;
    }
}


iframe {
    max-width: 100%;
}

@media screen and (max-width:1090px) {
    .video-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .vid-1, .vid-2 {
        width: 60vw;
        height: 345px;
    }
    .box-content h2 {
        font-size: 2rem;
    }
    .box-content h3 {
        font-size: 1.8rem;
    }
    .box-content p {
        font-size: 1.5rem;
    }

    /* doodle stuff */

    .blue-cloud-4-doodle {
        top: 118vh;
        left: 70vw;
        width: 31%;
    }
    .bullets-2-doodle {
        top: 171vh;
        left: -7vw;
        width: 35%;
    } 
    .blue-cloud-doodle {
        top: 55vh;
        left: 73vw;
        width: 27%;
    }
    .hourglass-doodles {
        top: -4vh;
        left: -22vw;
        width: 91%;
    }
    .blue-2-cloud-doodle {
        top: 236vh;
        width: 52%;
        left: 59vw;
    }
    .bullets-doodle {
        top: 208vh;
        left: 73vw;
        width: 32%;
    }
}

@media screen and (max-width: 770px) {
    .blue-2-cloud-doodle {
        top: 142vh;
    }
}

@media screen and (max-width: 600px) {
    .vid-1, .vid-2 {
        width: 80vw;
        height: 200px;
    }
    .box-content {
        max-width: 80vw;
    }
}

@media screen and (max-width:416px) and (max-height: 898px) {
    .blue-cloud-doodle {
        top: 47vh;
    }
    .blue-cloud-4-doodle {
        top: 91vh;
    }
    .blue-2-cloud-doodle {
        top: 136vh;
    }
    .bullets-2-doodle {
        top: 116vh;
    }
    .bullets-doodle {
        z-index: 9998;
        top: 190vh;
        left: 60vw;
        width: 44%;
    }
}

@media screen and (max-width:375px) and (max-height: 812px) {
    .blue-cloud-doodle {
        top: 53vh;
        left: 66vw;
        width: 33%;
    }
    .blue-cloud-4-doodle {
        top: 100vh;
        left: 59vw;
        width: 43%;
    }
    .bullets-2-doodle {
        top: 163vh;
    }
    .bullets-doodle {
        top: 214vh;
    }
    .blue-2-cloud-doodle {
        top: 140vh;
    }
}

@media screen and (max-width:375px) and (max-height: 667px) {
    .blue-cloud-doodle {
        top: 64vh;
    }
    .blue-cloud-4-doodle {
        top: 122vh;
    }
    .blue-2-cloud-doodle {
        top: 171vh;
    }
    .bullets-2-doodle {
        top: 198vh;
    }
    .bullets-doodle {
        top: 259vh;
    }
}

@media screen and (max-width:360px) and (max-height: 780px) {
    .bullets-doodle {
        top: 223vh;
    }
    .bullets-2-doodle {
        top: 169.5vh;
    }
    .blue-2-cloud-doodle {
        top: 147vh;
    }
    .blue-cloud-4-doodle {
        top: 105vh;
    }
    .blue-cloud-doodle {
        top: 56vh;
    }
}

@media screen and (max-width:360px) and (max-height: 760px) {
    .bullets-doodle {
        top: 228vh;
    }
    .bullets-2-doodle {
        top: 174vh;
    }
    .blue-2-cloud-doodle {
        top: 150vh;
    }
    .blue-cloud-4-doodle {
        top: 107.5vh;
    }
    .blue-cloud-doodle {
        top: 56vh;
    }
}

@media screen and (max-width:360px) and (max-height: 640px) {
    .bullets-doodle {
        top: 271vh;
    }
    .bullets-2-doodle {
        top: 206.5vh;
    }
    .blue-2-cloud-doodle {
        top: 178vh;
    }
    .blue-cloud-4-doodle {
        top: 128vh;
    }
    .blue-cloud-doodle {
        top: 68vh;
    }
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/* mark stuff */

mark.purple {
    color: var(--main-color);
    background: none;
}

/* scroll stuff */

.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

.scroll-down .nav-links {
    transform: translate3d(0, 0, -100%);
}
.scroll-up .nav-links a:hover {
    color: var(--white);
}

.scroll-up header {
    filter: drop-shadow(0 -10px 20px var(--navbar));
    background: var(--navbar);
    color: var(--black);
}

.scroll-up nav a {
    color: var(--black);
}

.scroll-up .logo-img {
    filter: brightness(0%)
}

@media screen and (max-width:768px) {
    .scroll-up header {
        filter: none;
    }
    
    .scroll-up .nav-links {
        background-color: var(--navbar);
        border-color: var(--navbar);
    }
    .scroll-down .nav-links {
        border: none;
        transform: translateX(100%);
        transition: transeform 0.2 ease-in;
    }
}


/* Jinx Mode stuff  */

.jinxMode .monkey-btn {
    filter: grayscale(0%) drop-shadow(0 0 2px #FF4F9B);
    animation: flicker-monkey 2.5s infinite alternate;
}

@keyframes flicker-monkey {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        filter:
        drop-shadow(0 0 .5px rgba(255, 11, 117, 0.2))
        drop-shadow(0 0 2.5px rgba(255, 11, 117, 0.7))
        drop-shadow(0 0 1.5px rgba(255, 11, 117, 0.2))
        drop-shadow(0 0 3px rgba(255, 11, 117, 0.9))
        drop-shadow(0 0 1px rgba(255, 11, 117, 0.6))
        ;        
    }
    
    20%, 24%, 55% {
        filter: drop-shadow(0 0 0);
    }    
}

.jinxMode .main-name {
    font-size: 2.8vw;
    letter-spacing: 0.2rem;
}

@media screen and (max-width: 500px) {
    .jinxMode .main-name {
        font-size: 5.5vw;
        letter-spacing: 0rem;
    }
}

.jinxMode .reel-container::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -6px;
    bottom: -6px;
    background: linear-gradient(-45deg, #00C5E2, #0cbcf2, #FF529C, #ff006f);
    z-index: -1;
}

.jinxMode .reel-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-45deg, #00C5E2, #0cbcf2, #FF529C, #ff006f);
    z-index: -2;
    filter: blur(25px);
  }

.jinxMode .reel-container iframe {
    border: none;
}

.jinxMode #contact {
    background-image: url(./photos/jinx-doodles/BLAH\ BLAH.png);
    background-repeat: no-repeat;
    background-size: 20vh;
    background-position: 68%;
}

@media  screen and (max-width: 1610px) {
    .jinxMode #contact {
        background-position: 72%;
    }
}

@media  screen and (max-width: 1450px) {
    .jinxMode #contact {
        background-position: 75%;
    }
}

@media  screen and (max-width: 1370px) {
    .jinxMode #contact {
        background-position: 76%;
    }
}

@media  screen and (max-width: 1290px) {
    .jinxMode #contact {
        background-position: 78%;
    }
}

@media  screen and (max-width: 1030px) {
    .jinxMode #contact {
        background-position: 82%;
    }
}

@media screen and (max-width: 790px) {
    .jinxMode #contact {
        background-size: 13vh;
        background-position: 94%;
    }
}


.jinxMode .logo-img {
    filter: invert(62%) sepia(68%) saturate(5517%) hue-rotate(309deg) brightness(107%) contrast(104%) grayscale(0%) drop-shadow(2px 2px 8px #FF4F9B);
}

.jinxMode .tree-meg-img {
    display: none;
}

.jinxMode .goth-meg-img, .jinxMode .transparent-img {
    display: inline-block;
}

@media screen and (max-width: 1545px) {
    .jinxMode .transparent-img {
        display: none;
    }
}


.jinxMode .shark-jinx-img {
    display: block;
 }


.jinxMode .me-doodle, 
.jinxMode .jinxmodetext,
.jinxMode .haha-1-doodles,
.jinxMode .m-doodle,
.jinxMode .hourglass-doodles,
.jinxMode .vi-doodles,
.jinxMode .star-doodle,
.jinxMode .pink-x-doodles,
.jinxMode .boom-doodle,
.jinxMode .blah-2-doodles,
.jinxMode .pink-x-circle-doodle,
.jinxMode .blue-x-doodles,
.jinxMode .meg-collage,
.jinxMode .blue-x-2-doodles,
.jinxMode .blue-x-circle-doodle,
.jinxMode .pink-cloud-doodle,
.jinxMode .blue-cloud-3-doodle,
.jinxMode .hourglass-2-doodles,
.jinxMode .pow-pow-doodle,
.jinxMode .blue-cloud-doodle,
.jinxMode .blue-2-cloud-doodle,
.jinxMode .bullets-doodle,
.jinxMode .bullets-2-doodle,
.jinxMode .pink-bullets-crossed,
.jinxMode .blue-bullets-crossed,
.jinxMode .pink-cloud-2-doodle,
.jinxMode .time-things-2,
.jinxMode .blue-cloud-4-doodle,
.jinxMode .pink-cloud-3-doodle,
.jinxMode .pink-cloud-3-reel {
    display: block;
}

@media screen and (max-width: 770px) {
    .boom-doodle {
        display: none;
        top: 20vh;
    }
}

/* contact btns */

.contact-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.resume-btn-container{
    padding-top: 5vh;
    padding-bottom: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon-btn
{
    width: 6rem;
    height: 6rem;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    z-index: 999;
}

.resume-icon-btn {
    width: 12rem;
    height: 4rem;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    z-index: 999;

}

.resume-icon-btn a {
    text-decoration: none;
    color: #EEE;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

#ds
{
    color: #5865f2;
    text-shadow: 0 0 30px #5865f2;
}
#lnk
{
    color: #00acff;
    text-shadow: 0 0 30px #00acff;
}
#em
{
    color: #ff5757;
    text-shadow: 0 0 30px #ff5757;
}
.icon-btn.ds-btn
{
    box-shadow: 0 20px 20px -17px rgba(87, 100, 241,0.63);
}
.icon-btn.ds-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(87, 100, 241,0.65);
}
.icon-btn.lnk-btn
{
    box-shadow: 0 20px 20px -17px rgba(0, 255, 255,0.5);
}
.icon-btn.lnk-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0,255,255,0.57);
}
.icon-btn.em-btn
{
    box-shadow: 0 20px 20px -17px rgba(255, 87, 87,0.53);
}
.icon-btn.em-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(255, 87, 87,0.6);
}

.resume-icon-btn {
    box-shadow: 0 20px 20px -17px rgba(150, 102, 184, 0.7); 
}

.resume-icon-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(150, 102, 184, 0.9);
}

@media (max-width: 767px) {
    .icon-btn {
        width: 5rem;
        height: 5rem;
        margin-left: 1rem;
    }
}




/* svg stuff #1 */
.custom-shape-divider-top-1658965090 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 9000;
}

.custom-shape-divider-top-1658965090 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 116px;
}

.custom-shape-divider-top-1658965090 .shape-fill {
    fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1658965090 svg {
        width: calc(172% + 1.3px);
        height: 116px;
    }
}




/* svg about me color #EEE */

.custom-shape-divider-top-1658964980 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 9000;
}

.custom-shape-divider-top-1658964980 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 116px;
}

.custom-shape-divider-top-1658964980 .shape-fill {
    fill: #EEEEEE;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1658964980 svg {
        width: calc(172% + 1.3px);
        height: 116px;
    }
}


  